body {
	margin: 0 auto;
	overflow:hidden;
	width: 100%;
	xborder: 1px solid black;
	text-align: center;
  	background-color: rgb(200,255,200);
}

#canvas {
	xmargin: auto;
	xborder:solid 1px red;
	width: 800px;
	background-color: white;

}

#log
{
  position:absolute; 
  background-color: rgba(100,100,100,0.7);
  width: 200px;
  color: white;
  text-align: left;
  display: none;
}