body
{
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	text-align: center;
  /* background-color: rgb(200,255,200); */
  background: #000;
}

#canvas
{
	background-color: white;
	width: 800px;
}

#log
{
  position: absolute; 
  background-color: rgba(100,100,100,0.7);
  font-family: monospace, courier;
  font-size: 80%;
  width: 300px;
  color: white;
  text-align: left;
  top: 0;
  display:none;
}

